[data-ratings] {
  width: 0;
  height: 0;
  opacity: 0;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  color: yellow;
  transition: color .5s;

  svg {
    width:  30px;
    height: 30px;
    fill: currentColor;
  }

  .ratings-empty,
  .ratings-full {
    position: absolute;
    color: inherit;
    overflow: hidden;
  }
}
