body {
	background-color: #222;
	padding: 50px;
	line-height: 1;
	color: white;
}

a, p {
	color: white;
}

a:link {
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: underline;
}

button {
	display: inline;
	border: 1px solid #333;
	background-color: #444;
	color: #FCFCFC;
	width: 100px;
	padding: 10px 15px;
}

button:active {
	border: 1px solid #444;
	background-color: #555;
}

.mt-20 {
	margin-top: 20px;
}

.rating-text {
	line-height: 38px;
}

[data-stars].green {
	color: green;
}

[data-stars].green .stars-empty {
	color: grey;
	opacity: 0.5;
}

[data-stars].disabled {
	color: red;
	cursor: default;
}
